.filter-form {

}

.filter-form__section {
    margin-bottom: 20px;
}

.filter-form__section-header {
    font-weight: bolder;
    margin: 0 0 5px 0;
}

.checkbox {
    margin-bottom: 3px;
}

.checkbox__label {

}

.checkbox__input {

}